.homeContainer {
    width: 100vw;
    /* height: 100vh; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* border: 1px solid goldenrod; */
}

.homeContainer__content {
    width:100%;
    padding: 1rem 4rem;
    text-align: center;
    /* border: 1px solid red; */
}